@font-face {
    font-family: 'Interval';
    src: url(Fonts/Interval/Interval.otf);
}
@font-face {
    font-family: 'Roboto';
    src: url(Fonts/Roboto/Roboto-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

/* Main container */
.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: .8fr 4fr;
}

/* Side bar */

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto';
    font-size: 2rem;
}
.logo img{
    width: 55px;
}
.dashboard-container{
    display: grid;
    grid-row: 1 / -1;
    background-color: #0284c7;
    color: white;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
/* Sidebar list */

ul{
    margin-top: 1rem;
    list-style-type: none;
}
li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1.7rem;
    font-family: 'Roboto';
    font-size: 1.3rem;
    cursor: pointer;
}
li img{
    width: 24px;
    height: 24px;
    
}

img{
    width: 40px;
}

/* Header & searchbar*/
.header{
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1% min-content 3fr 1fr;
    grid-column: 2;
    align-items: center;
    gap: 15px;
    padding: 10px;
    box-shadow: 0 50px 15px -3px rgb(0 0 0 / 0.1), 0 8px 6px -4px rgb(0 0 0 / 0.1);
    
}
.search-bar{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 8px;
    max-width: 700px;
}
.h-sec2{
    display: grid;
    gap: 30px;
    grid-template-columns: min-content min-content 1fr;
    font-family: 'Roboto';
    font-weight: bold;
    align-items: center;
}


img[src="Images/magnify.svg"]{
    justify-self: end;
    grid-column: 2;
    width: 25px;
}
img[src="Images/bell-outline.svg"]{
    cursor: pointer;
    width: 32px;
}

.pfp{
    justify-self: center;
    height: 50px;
    width: 50px;
    max-width: 50px;
    max-height: 50px;
    background-image: url(Images/main-user.svg);
    background-size: 100%;
}

/* Header under search bar */
.h-row2{
    display: flex;
    width: 100%;
    grid-column: 1 / -1;
    justify-content: space-between;
}

.pf-items{
    display: flex;
    gap: 30px;
}
.big-pfp{
    justify-self: center;
    height: 70px;
    width: 70px;
    max-width: 70px;
    max-height: 70px;
    background-image: url(Images/main-user.svg);
    background-size: 100%;
    margin-left: 25px;
}
.intro{
    align-self: flex-end;
    position: relative;
}
.intro span{
    position: absolute;
    bottom: 30px;
    font-weight: 1;
    font-size: 1rem;
}

.pf-bttns{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 100px;
}
.pf-bttns button{
    padding: 10px 35px;
    border-radius: 15px;
    border: none;
    background-color: #0284c7;
    color: white;
    cursor: pointer;
}

/* Main content (projects, announcements & trending */

.main{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
    padding: 3rem;
}

/* Projects */

.tiles{
    grid-row: 1/3;
}
.project-title{
    position: relative;
    left: 20px;
}

.tile-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 25px;
    height: 96%;
}
.tile{
    display: grid;
    border-left: rgb(206, 202, 1) 10px solid;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    background-color: rgb(233, 233, 233);
}
.title{
    font-size: 1.7rem;
    font-weight: bold;
}
.tile-text{
    font-size: 15px;
    color: #666666;
}
.tile-reactions{
    justify-self: end;
    margin-top: auto;
}
.tile-reactions img{
    margin: 8px 10px;
    height: 24px;
    width: 24px;
}


/* Announcements */
.ann{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.ann-tile{
    padding: 1rem 1.9rem;
    font-family: 'Roboto';
    border-bottom: 3px solid rgb(207, 206, 206);
}
.ann-title{
    font-weight: bold;
    font-size: large;
}
.ann-text{
    font-size: small;
    color: #666666;
}

/* Trending */

.trending{   
   margin-top: 50px;
}

.trending-tile{
    display: grid;
    grid-template-columns: min-content;
    padding: 1rem 1.9rem;
    align-items: center;
    
}

.trending-user{
    grid-column: 2;
    padding: .5rem;
}
.sub{
    font-size: 12px;
    font-style: italic;
    color: #666666;
}
.username{
    font-size: 14px;
    color: black;
}