@font-face {
    font-family: 'Interval';
    src: url(Fonts/Interval/Interval.otf);
}
@font-face {
    font-family: 'Roboto';
    src: url(Fonts/Roboto/Roboto-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;


}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    
    
    font-family: 'Roboto';
    font-size: 2rem;
}
.logo img{
    width: 55px;
}
.dashboard-container{
    display: grid;
    grid-row: 1 / -1;
    background-color: darkgray;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

ul{
    margin-top: 1rem;
    list-style-type: none;
}
li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1.7rem;
    font-family: 'Roboto';
    font-size: 1.3rem;
    cursor: pointer;
}
li img{
    width: 24px;
    height: 24px;
}

img{
    width: 40px;
}
